<h3 style="color:#285D91">{{ title }}</h3>

<hr>
<div align="left">
  <h3>Color picker</h3>
  <button (click)="logSelectedColor()">Show log</button>
  <input type="text" [(ngModel)]="selected_color">
  <div [ngStyle]="{
    'background':selected_color,
    'width': '200px',
    'height': '200px',
    'float': 'right',
    'margin-right': '69%'
  }">&nbsp;</div>
  <pre><strong>Selected color:</strong> {{selected_color}}</pre>
  <div style="clear:both"></div>
</div>
<hr>

<div align="left">
  <h3>colors switch</h3>
  <ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        'background':color,
        'color': 'white',
        'padding': '20px'
      }">It's
      red</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{
        'background':color,
        'color': 'white',
        'padding': '20px'
      }">It's
      green</li>
    <li *ngSwitchCase="'#285D91'" [ngStyle]="{
        'background':color,
        'color': 'white',
        'padding': '20px'
      }">It's
      blue</li>
  </ul>
</div>

<div align="left" *ngIf="employee_external == false">
  <b>star employee:</b> <br><br>
  <button (click)="changeExternal(true)">Show workers</button>
  <ul>
    <li>{{ employee.name }}</li>
    <li>{{ employee.age }}</li>
    <li>{{ employee.position }}</li>
    <li>{{ employee.salaried }}</li>
    <li *ngIf="employee.salaried == true">Is hired</li>
    <li *ngIf="employee.salaried == false">Is not hired</li>
  </ul>
</div>

<div align="left" *ngIf="employee_external == true">
  <b>workers: </b> <br><br>
  <button (click)="changeExternal(false)">Show employee</button>
  <ul>
    <li>{{ workers[0].name }}</li>
    <li>{{ workers[0].age }}</li>
    <li>{{ workers[0].position }}</li>
    <li>{{ workers[0].salaried }}</li>
    <li *ngIf="workers[0].salaried == true">Is hired</li>
    <li *ngIf="workers[0].salaried == false">Is not hired</li>
  </ul>
</div>

<hr>

<div align="left">
  <strong>List of employees: </strong>
  <ul>
    <li *ngFor="let employee of workers; let i = index">
      <strong>Employee {{ i+1 }}</strong>
      <ul>
        <li>{{ employee.name }}</li>
        <li>{{ employee.age }}</li>
        <li>{{ employee.position }}</li>
        <li *ngIf="employee.hired == true">Is hired</li>
        <li *ngIf="employee.hired == false">Is not hired</li>
      </ul>
    </li>
  </ul>
</div>
