.backgroundBlue{
  background: LightBlue !important;
}

.backgroundGreen{
  background: LightGreen !important;
}

.bigLetter{
  font-size: 20px;
}

.activated{
  background: yellow;
  font-weight: bold;
}
