<h2>{{ title }}</h2>

{{ showDate | date:'dd/MM/yyyy' }} <br>
{{ showDate | date:'fullDate' | uppercase | lowercase }} <br>
{{ name | lowercase }} <br>

{{ 5 | converter: 7 }}

<br><br>

<input type="text" [(ngModel)]="hold_save">
<button (click)="savePledge()">Add garment</button>
<p *ngIf="hold_save">The garment to keep is: <b>{{hold_save}}</b></p>

<h3>List of clothes</h3>
<ul>
  <li *ngFor="let garment of clothing_list; let i = index">
    {{i}} - {{garment}}
    <button (click)="removeGarment(i)">Delete</button>
  </li>
</ul>
